/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v11-latin-regular.woff2") format("woff2"), url("../fonts/inter-v11-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v11-latin-500.woff2") format("woff2"), url("../fonts/inter-v11-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v11-latin-700.woff2") format("woff2"), url("../fonts/inter-v11-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v24-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v24-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v24-latin-600.woff") format("woff");
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Inter", "Montserrat", sans-serif;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  margin-bottom: 25px;
  padding: 19px 0;
}

.header__box {
  display: flex;
  align-items: center;
}

.header__link {
  width: 100%;
  max-width: 178px;
  height: 37px;
  margin-right: 237px;
}

.nav {
  margin-right: 27px;
}

.header__menu-burg {
  display: none;
}

.nav__menu {
  width: 379px;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #22343D;
  text-decoration: none;
}

.nav__link-active {
  color: #000;
}

.header__sign-in {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173A56;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  margin-right: 24px;
  padding: 10px 20px 9px 20px;
  text-decoration: none;
}

.header__sign-out {
  color: #FFFFFF;
  background: #02897A;
  margin-right: 30px;
}

.header__dark-link {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 520px) {
  .header__box {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .header__link {
    width: 0%;
  }

  .nav {
    display: none;
  }

  .header__sign-in {
    display: none;
  }

  .header__sign-out {
    display: none;
  }

  .header__dark-link {
    display: none;
  }

  .header__menu-burg {
    display: block;
    justify-content: center;
  }
}
.hero {
  margin-bottom: 114px;
}

.hero__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__info {
  max-width: 458px;
}

.hero__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #22343D;
  margin-bottom: 18px;
}

.hero__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #22343D;
  margin-bottom: 45px;
}

.hero__btn {
  width: 175px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border: transparent;
  border-radius: 4px;
  margin: 0 auto;
  color: #FFFFFF;
  background: #02897A;
  padding: 15px 41px 14px;
  text-decoration: none;
}

.hero__subimg {
  width: 20px;
  height: 17px;
  margin-right: 9px;
  margin-left: 20px;
}

.hero__subimg-mobile {
  display: none;
}

.hero__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #02897A;
}

.hero__img {
  width: 600px;
  height: 556px;
}

@media screen and (max-width: 520px) {
  .hero__box {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
  }

  .hero__info {
    width: 90%;
  }

  .hero__img {
    display: none;
  }

  .hero__subimg-mobile {
    display: block;
  }

  .hero__title {
    text-align: center;
    font-size: 36px;
    line-height: 60px;
    margin: 0;
  }

  .hero__text {
    text-align: center;
  }

  .hero__btn {
    padding: 15px 24px;
    margin-right: 10px;
  }
}
.product {
  padding-bottom: 90px;
  background-image: url("../images/process-bg.png");
  background-repeat: no-repeat;
  background-position: 50% bottom;
  background-size: contain;
}

.product__box {
  max-width: 539px;
  margin: 0 auto;
  margin-bottom: 58px;
}

.product__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343D;
}

.product__title-sub {
  display: inline-block;
}

.product__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 34px;
}

.product__item {
  max-width: 240px;
}

.product__img {
  width: 50px;
  height: 50px;
  margin-top: 9px;
  margin-bottom: 30px;
}

.product__subtitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #22343D;
  margin: 0;
  margin-bottom: 13px;
}

.product__text {
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  margin: 0;
}

.product__link {
  display: block;
  width: 175px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #02897A;
  text-decoration: none;
  border: transparent;
  border-radius: 4px;
  margin: 0 auto;
  padding: 15px 32px 14px;
}

@media screen and (max-width: 520px) {
  .product__list {
    width: 100%;
    flex-direction: column;
  }

  .product__item {
    width: 100%;
    text-align: center;
  }
}
.marketing__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}
.marketing__item:nth-child(2) {
  flex-direction: row-reverse;
}

.marketing__info {
  max-width: 486px;
}

.marketing__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
  margin-bottom: 23px;
}

.marketing__strong {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 23px;
}

.marketing__text {
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  margin: 0;
  margin-bottom: 30px;
}

.marketing__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  margin: 0;
  margin-bottom: 12px;
}

.marketing__subtext {
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  margin: 0;
  margin-bottom: 25px;
}

.marketing__subitems:nth-child(1) {
  margin-left: 55px;
  position: relative;
}
.marketing__subitems:nth-child(1)::before {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background-image: url("../images/yellow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: -55px;
}

.marketing__subitems:nth-child(2) {
  margin-left: 55px;
  position: relative;
}
.marketing__subitems:nth-child(2)::before {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background-image: url("../images/orange.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: -55px;
}

.marketing__subitems:nth-child(3) {
  margin-left: 55px;
  position: relative;
}
.marketing__subitems:nth-child(3)::before {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background-image: url("../images/blue.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: -55px;
}

.marketing__img {
  width: 543px;
  height: 500px;
}

@media screen and (max-width: 520px) {
  .marketing__item {
    flex-direction: column;
  }
  .marketing__item:first-child {
    flex-direction: column-reverse;
  }
  .marketing__item:nth-child(2) {
    flex-direction: column;
  }

  .marketing__img {
    width: 300px;
    height: 300px;
  }
}
.hero {
  margin-bottom: 114px;
}

.hero__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__info {
  max-width: 458px;
}

.hero__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #22343D;
  margin-bottom: 18px;
}

.hero__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #22343D;
  margin-bottom: 45px;
}

.hero__btn {
  width: 175px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border: transparent;
  border-radius: 4px;
  margin: 0 auto;
  color: #FFFFFF;
  background: #02897A;
  padding: 15px 41px 14px;
  text-decoration: none;
}

.hero__subimg {
  width: 20px;
  height: 17px;
  margin-right: 9px;
  margin-left: 20px;
}

.hero__subimg-mobile {
  display: none;
}

.hero__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #02897A;
}

.hero__img {
  width: 600px;
  height: 556px;
}

@media screen and (max-width: 520px) {
  .hero__box {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
  }

  .hero__info {
    width: 90%;
  }

  .hero__img {
    display: none;
  }

  .hero__subimg-mobile {
    display: block;
  }

  .hero__title {
    text-align: center;
    font-size: 36px;
    line-height: 60px;
    margin: 0;
  }

  .hero__text {
    text-align: center;
  }

  .hero__btn {
    padding: 15px 24px;
    margin-right: 10px;
  }
}
.process {
  padding-top: 60px;
  padding-bottom: 110px;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.process__box {
  max-width: 963px;
  margin: 0 auto;
}

.process__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343D;
}

.process__info {
  width: 542px;
  margin: 0 auto;
}

.process__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #22343D;
  margin-bottom: 32px;
}

.process__list {
  width: 963px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.process__item {
  display: flex;
  align-items: center;
}

.process__subtext {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #2F281E;
  padding: 15px 30px;
  background: white;
  box-shadow: 0px 2px 8px rgba(86, 117, 146, 0.1);
  border-radius: 50px;
  margin: 0 16px;
}

.process__link {
  display: block;
  width: 216px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border-radius: 4px;
  background-color: #02897A;
  margin: 0 auto;
  margin-top: 50px;
  padding: 15px 30px;
  text-decoration: none;
}

@media screen and (max-width: 520px) {
  .process__info {
    width: 100%;
  }

  .process__list {
    width: 100%;
    flex-wrap: wrap;
    justify-content: baseline;
  }

  .process__item {
    width: 100%;
    margin-bottom: 30px;
  }

  .process__item:nth-child(3) {
    flex-direction: row-reverse;
  }

  .process__item:nth-child(4) {
    flex-direction: row-reverse;
  }

  .process__subtext {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 18px;
  }
}
@media screen and (max-width: 340px) {
  .process__subtext {
    width: 100%;
  }
}
.content__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
  margin-bottom: 8px;
}

.content__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  margin: 0;
  margin-bottom: 33px;
}

.content__carusel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__carusel-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__card {
  border-radius: 8px;
}

.content__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #22343D;
}

.content__subtext {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #22343D;
}

.content__subtext--middle {
  color: #02897A;
}

.price {
  padding-bottom: 110px;
}

.price__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
  text-align: center;
  margin: 0;
}

.price__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
  text-align: center;
  margin-bottom: 40px;
}

.price__list {
  display: flex;
  align-items: center;
}

.price__item + .price__item {
  margin-left: 70px;
}

.price__item {
  width: 323px;
  text-align: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 24px 0 32px;
  color: #22343D;
}

.price__item:nth-child(2) {
  background-color: #02897A;
  color: #FFFFFF;
}

.price__item:nth-child(2) .price__num {
  color: #FFFFFF;
}

.price__item:nth-child(2) .price__index {
  color: #FFFFFF;
}

.price__item:nth-child(2) .price__month {
  color: #FFFFFF;
}

.price__item:nth-child(2) .price__link {
  color: #02897A;
  background-color: #FFFFFF;
}

.price__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  margin: 0;
}

.price__subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  margin-top: 8px;
}

.price__amount-box {
  position: relative;
}

.price__num {
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  letter-spacing: 0.2px;
  color: #02897A;
}

.price__index {
  position: absolute;
  font-family: "Inter";
  font-weight: 700;
  font-size: 22px;
  line-height: 40px;
  color: #02897A;
  top: 15px;
}

.price__month {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #AFAFAF;
}

.price__subitem {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}

.price__link {
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  background: #02897A;
  border-radius: 8px;
  padding: 11px 19px;
  margin-top: 22px;
}

@media screen and (max-width: 520px) {
  .price__text {
    margin-bottom: 75px;
  }

  .price__list {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  }

  .price__item {
    width: 80%;
    margin-bottom: 32px;
  }

  .price__item + .price__item {
    margin-left: 0;
  }
}
@media screen and (max-width: 380px) {
  .price__item {
    width: 90%;
  }
}
.clients {
  padding-bottom: 110px;
}

.clients__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #22343D;
}

.clients__text-box {
  width: 540px;
  margin-top: 8px;
  margin-bottom: 50px;
  margin: 8px auto 50px auto;
}

.clients__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #22343D;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients__item + .clients__item {
  margin-left: 64px;
}

.clients__item {
  width: 307px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  padding: 25px;
}

.clients__subtext {
  width: 255px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 16px 0;
}

.clients-info {
  display: flex;
  align-items: flex-start;
}

.clients__link {
  text-decoration: none;
  margin-left: 14px;
}

.clients__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin: 0;
}

.clients__job {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin: 0;
}

@media screen and (max-width: 520px) {
  .clients__text-box {
    width: 90%;
  }

  .clients__list {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .clients__item + .clients__item {
    margin-left: 0;
    margin-top: 32px;
  }
}
.join {
  padding-bottom: 110px;
}

.join__box {
  width: 968px;
  background-color: #02897A;
  border-radius: 32px;
  margin: 0 auto;
  padding: 50px;
  background-image: url("../../images/screen.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 280px) calc(50% + 10px);
}

.join__info {
  width: 480px;
  margin-bottom: 40px;
}

.join__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #FFFFFF;
  margin: 0;
}

.join__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  background: #FFFFFF;
  border-radius: 8px;
  color: #02897A;
  padding: 13px 33px;
}

.join__img {
  display: none;
}

@media screen and (max-width: 520px) {
  .join__box {
    width: 90%;
    background-image: none;
    padding: 17px 10px;
  }

  .join__info {
    width: 90%;
    text-align: center;
  }

  .join__link {
    display: block;
    width: 150px;
    text-align: center;
    margin: 60px auto 42px;
  }

  .join__img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
.customer {
  padding: 100px 0 117px;
}

.customer__box {
  width: 850px;
  margin: 0 auto;
}

.customer__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #22343D;
  text-align: center;
  margin: 0;
  margin-bottom: 66px;
}

.customer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 520px) {
  .customer {
    padding: 50px 0 17px;
  }

  .customer__box {
    width: 206px;
  }

  .customer__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
  }

  .customer__list {
    min-width: 355px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .customer__item {
    margin-bottom: 60px;
  }
}
.choose-box {
  background: #F5F5F5;
}

.choose__item {
  width: 350px;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  align-items: center;
}

.choose__img {
  display: block;
  margin: 32px auto;
}

.choose__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #22343D;
  margin: 0;
  margin-bottom: 16px;
}

.choose__info {
  width: 275px;
  align-items: center;
  margin: 34px auto 0;
}

.choose__text {
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #22343D;
  margin-bottom: 34px;
}

@media screen and (max-width: 520px) {
  .choose {
    padding: 24px 0;
  }

  .choose__title {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
  }

  .choose__list {
    flex-direction: column;
  }

  .choose__item {
    display: inline-block;
    margin-bottom: 32px;
  }
}
.work {
  padding: 101px 0 115px;
}

.work__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  color: #22343D;
  margin-bottom: 73px;
}

.work__list {
  width: 1027px;
  margin: 0 auto;
}

.work__img {
  width: 500px;
}

.work__info {
  width: 445px;
}

.work__step {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343D;
}

.work__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #22343D;
}

.work__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

@media screen and (max-width: 520px) {
  .work__list {
    max-width: 359px;
    flex-direction: column;
  }

  .work__item {
    display: block;
    align-items: center;
    margin-bottom: 69px;
  }

  .work__img {
    max-width: 349px;
    margin-bottom: 80px;
  }

  .work__info {
    max-width: 355px;
  }
}
.offer {
  padding: 35px 0 45px;
  background: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%);
}

.offer__box {
  width: 537px;
  margin: 0 auto;
  margin-bottom: 93px;
}

.offer__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343D;
}

.offer__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.offer__item {
  width: 248px;
  align-items: center;
}

.offer__img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 27px;
}

.offer__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.offer__sublist {
  align-items: center;
}

.offer__subitem {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #22343D;
  margin-bottom: 8px;
}

.offer__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  margin-top: 12px;
}

@media screen and (max-width: 520px) {
  .offer {
    background: transparent;
  }

  .offer__box {
    width: 100%;
  }

  .offer__list {
    flex-direction: column;
    width: 100%;
  }

  .offer__item {
    max-width: 248px;
  }
}
.price-section {
  padding-top: 20px;
}

.price__main-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #22343D;
  margin-bottom: 32px;
}

.price__title {
  display: block;
  text-align: center;
}

.enterprise {
  background: #f2f2f2;
  padding: 50px 0;
}

.enterprise__main-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #22343D;
  margin: 0;
}

.enterprise__title {
  display: block;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  color: #22343D;
  margin: 16px 0 8px;
}

.enterprise__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #22343D;
  margin: 0;
  margin-bottom: 32px;
}

.enterprise__link {
  display: block;
  width: 224px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #02897A;
  border-radius: 8px;
  margin: 0 auto;
  padding: 11px 18px;
}

.effects {
  background: #f2f2f2;
  padding: 110px 0;
}

.effects__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  color: #22343D;
  margin-bottom: 56px;
}

.effects__info-box {
  display: flex;
  align-items: center;
}

.effects__mobile-img {
  display: none;
}

.effects__list {
  margin-left: 60px;
}

.effects__item {
  width: 533px;
  margin-bottom: 32px;
}

.effects__item-box {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.effects__subimg {
  width: 50px;
  height: 50px;
  margin-right: 14px;
}

.effects__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  color: #22343D;
}

@media screen and (max-width: 520px) {
  .effects__info-box {
    flex-direction: column;
  }

  .effects__img {
    display: none;
  }

  .effects__mobile-img {
    display: block;
    width: 90%;
    margin-bottom: 30px;
  }

  .effects__list {
    margin-left: 0;
  }

  .effects__item {
    width: 90%;
  }
}
.question {
  background-color: #f2f2f2;
}

.question__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  color: #22343D;
  margin: 0;
}

.question__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #22343D;
  margin: 0;
  margin: 8px 0 50px;
}

.accordion {
  width: 920px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.accordion__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #22343D;
}

.accordion__text {
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
}

.accordion-body {
  background-color: #f2f2f2;
}

.accordion__btn {
  background-color: #f2f2f2;
  border: transparent;
  border-bottom: 1px solid #E7E7E7;
}

@media screen and (max-width: 520px) {
  .accordion {
    width: 100%;
  }
}
.joining {
  padding-top: 110px;
}

.business__box {
  display: flex;
  align-items: center;
}

.business__info {
  width: 535px;
}

.business__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 149%;
  letter-spacing: -0.03em;
  color: #22343D;
  margin: 0;
}

.business__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.03em;
  color: #22343D;
  margin: 24px 0;
}

.business__mobile-img {
  display: none;
}

.business__input {
  width: 470px;
  border: 1px solid #4d4b4b;
  border-radius: 100px;
  padding: 25px;
  margin-bottom: 24px;
}

.business__form-box {
  position: relative;
}

.business__button {
  width: 120px;
  font-weight: 600;
  font-size: 16px;
  line-height: 0px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #02897A;
  border-radius: 100px;
  padding: 25px 0;
  border: transparent;
  position: absolute;
  top: 10px;
  right: 50px;
}

.business__subtext {
  font-size: 14px;
  line-height: 21px;
  color: #22343D;
  position: relative;
}

.business__subbox {
  display: flex;
  align-items: center;
}

.business__join {
  color: #02897A;
}

@media screen and (max-width: 520px) {
  .business__box {
    display: block;
    align-items: center;
  }

  .business__info {
    width: 90%;
    text-align: center;
    margin: 50px auto;
  }

  .business__img {
    display: none;
  }

  .business__mobile-img {
    display: block;
    width: 100%;
  }

  .business__input {
    width: 100%;
    padding: 25px 20px;
  }

  .business__button {
    padding: 25px 20px;
    right: 3px;
  }
}
.stories {
  margin-bottom: 100px;
}

.stories__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.stories__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}

.stories__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.stories__item {
  width: 348px;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  margin-bottom: 32px;
}

.stories__img {
  width: 348px;
  height: 187px;
  border-radius: 8px;
}

.stories__info {
  width: 294px;
  align-items: center;
  margin: 22px 30px 40px 24px;
}

.stories__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #22343D;
}

.stories__name {
  font-weight: 500;
  line-height: 28px;
  color: #000;
}

.stories__more {
  width: 100%;
  max-width: 140px;
  margin: 0 auto;
  position: relative;
}
.stories__more::after {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 3px;
  right: 0;
  background-image: url("../images/circle_right.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  content: "";
}

.stories__next {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #22343D;
}

@media only screen and (max-width: 521px) {
  .stories__list {
    display: block;
    align-items: center;
  }

  .stories__item {
    width: 100%;
  }

  .stories__img {
    width: 100%;
  }
}
.contact__inner {
  width: 910px;
  margin: 100px auto;
  padding: 60px 0 50px;
}

.contact__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
  margin: 0;
  margin-bottom: 27px;
}

.contaxt__info {
  width: 312px;
  margin: 0 auto;
  text-align: center;
}

.content__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #374754;
}

.contact__social {
  width: 200px;
  margin: 0 auto;
}

.contact__map {
  width: 871px;
  height: 323px;
  margin: 65px auto;
}

.contact__box {
  width: 871px;
  border: 1px solid #DDDDDD;
  border-radius: 20px;
  padding: 50px;
}

.contact__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #252B42;
  text-align: center;
}

.contact__input {
  display: block;
  width: 768px;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #22343D;
  background: #F5F5F5;
  border: 1px solid #E8E8E8;
  border-radius: 39px;
  margin: 42px auto;
  padding: 20px;
}

.contact__subtext {
  display: block;
  width: 768px;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #22343D;
  background: #F5F5F5;
  border: 1px solid #E8E8E8;
  margin: 0 auto;
  padding: 20px;
}

.contact__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  background: #02897A;
  border-radius: 35px;
  border: transparent;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 45px;
  padding: 18px 54px;
}

@media only screen and (max-width: 521px) {
  .contact__inner {
    width: 100%;
  }

  .contact__map {
    width: 100%;
    min-width: 300px;
  }

  .contact__box {
    width: 100%;
    min-width: 300px;
  }

  .contact__input {
    width: 100%;
  }

  .contact__subtext {
    width: 100%;
  }
}
.footer__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo-link {
  margin-bottom: 25px;
}

.footer-social {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.footer-social__item + .footer-social__item {
  margin-left: 20px;
}

.footer-social__link {
  text-decoration: none;
}

.footer__right {
  display: flex;
  align-items: flex-start;
}

.footer-link {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.footer-link__item + .footer-link__item {
  margin-left: 100px;
}

.footer-link__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343D;
}

.footer-link__subitem {
  margin-top: 8px;
}

.footer-link__sublink {
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #22343D;
  text-decoration: none;
}

.footer-link__sublink:hover {
  color: #02897A;
}

.footer__sign-up__title {
  display: block;
  width: 280px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343D;
  margin-bottom: 34px;
}

.footer__sign-up__box {
  margin-left: 92px;
}

.footer__sign-up__input {
  width: 325px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 21px;
  border-color: transparent;
}

.footer__sign-up__input:focus {
  padding: 0 20px;
  outline: transparent;
}

.footer__sign-up__btn {
  display: block;
  width: 131px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 8px 15px;
  background-color: #02897A;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 4px;
  border: transparent;
}

.footer__rights {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #22343D;
  margin: 46px 0;
}

@media screen and (max-width: 520px) {
  .footer__box {
    flex-direction: column;
    align-items: center;
  }

  .footer__right {
    width: 80%;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }

  .footer-link {
    width: 100%;
    flex-direction: column;
    margin: 32px auto;
  }

  .footer-link__item {
    width: 100%;
    text-align: center;
  }

  .footer-link__item + .footer-link__item {
    margin-left: 0;
    margin-top: 32px;
  }

  .footer__sign-up__input {
    width: 100%;
  }

  .footer__sign-up__box {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin: 0 auto;
  }

  .footer__sign-up__title {
    display: inline-block;
    text-align: center;
    margin-right: 0;
  }

  .footer__sign-up__btn {
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */