*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Inter", "Montserrat", sans-serif;
  overflow-x: hidden;
}

ol,ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  vertical-align: middle;
}

