.clients{
  padding-bottom: 110px;
}

.clients__title{
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #22343D;
}

.clients__text-box{
  width: 540px;
  margin-top: 8px;
  margin-bottom: 50px;
  margin: 8px auto 50px auto;
}

.clients__text{
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #22343D;
}


.clients__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients__item + .clients__item{
  margin-left: 64px;
}

.clients__item{
  width: 307px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  padding: 25px;
}


.clients__subtext{
  width: 255px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 16px 0;
}


.clients-info{
display: flex;
align-items: flex-start;
}

.clients__link{
  text-decoration: none;
  margin-left: 14px;
}

.clients__name{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin: 0;
}

.clients__job{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin: 0;
}



@media screen and (max-width: 520px) {
.clients__text-box{
  width: 90%;
}

  .clients__list{
    flex-wrap: wrap;
    flex-direction: column;
  }


  .clients__item + .clients__item{
    margin-left: 0;
    margin-top: 32px;
  }

}