.header{
  width: 100%;
  margin-bottom: 25px;
  padding: 19px 0;
}

.header__box{
  display: flex;
  align-items: center;
}

.header__link {
  width: 100%;
  max-width: 178px;
  height: 37px;
  margin-right: 237px;
}

.nav{
  margin-right: 27px;
}

.header__menu-burg{
  display: none;
}

.nav__menu {
  width: 379px;
  display: flex;
  justify-content: space-between;

}

.nav__link{
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #22343D;
  text-decoration: none;
}

.nav__link-active{
  color: #000;
}

.header__sign-in{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173A56;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  margin-right: 24px;
  padding: 10px 20px 9px 20px;
  text-decoration: none;
}

.header__sign-out{
  color: #FFFFFF;
  background: $main-color;
  margin-right: 30px;

}

.header__dark-link{
  width: 32px;
  height: 32px;
}



@media screen and (max-width: 520px) {

.header__box{
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__link{
  width: 0%;
}
.nav{
  display: none;
}

.header__sign-in{
  display: none;
}

.header__sign-out{
  display: none;
}

.header__dark-link{
  display: none;
}

.header__menu-burg{
  display: block;
  justify-content: center;
}

}
