.join{
  padding-bottom: 110px;
}

.join__box{
  width: 968px;
  background-color: $main-color;
  border-radius: 32px;
  margin: 0 auto;
  padding: 50px;
  background-image: url("../../images/screen.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 280px) calc(50% + 10px);
}


.join__info{
  width: 480px;
  margin-bottom: 40px;
}

.join__title{
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #FFFFFF;
  margin: 0;
}

.join__link{
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  background: #FFFFFF;
  border-radius: 8px;
  color: $main-color;
  padding: 13px 33px;
}


.join__img{
  display: none;
}

@media screen and (max-width: 520px) {

  .join__box{
    width: 90%;
   background-image: none;
   padding: 17px 10px;
  }

.join__info{
  width: 90%;
  text-align: center;
}

.join__link{
  display: block;
  width: 150px;
  text-align: center;
  margin: 60px auto 42px;
}

.join__img{
  width: 100%;
  display: block;
  margin: 0 auto;
}
}