.price {
  padding-bottom: 110px;
}


.price__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
  text-align: center;
  margin: 0;
}


.price__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
  text-align: center;
  margin-bottom: 40px;
}

.price__list {
  display: flex;
  align-items: center;
}

.price__item+.price__item {
  margin-left: 70px;
}

.price__item {
  width: 323px;
  text-align: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 24px 0 32px;
  color: #22343D;
}

.price__item:nth-child(2) {
  background-color: $main-color;
  color: #FFFFFF;
}

.price__item:nth-child(2) .price__num {
  color: #FFFFFF;
}

.price__item:nth-child(2) .price__index {
  color: #FFFFFF;
}

.price__item:nth-child(2) .price__month {
  color: #FFFFFF;
}

.price__item:nth-child(2) .price__link {
  color: $main-color;
  background-color: #FFFFFF;
}

.price__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  margin: 0;
}

.price__subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  margin-top: 8px;
}

.price__amount-box {
  position: relative;
}

.price__num {
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  letter-spacing: 0.2px;
  color: $main-color;
}

.price__index {
  position: absolute;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22px;
  line-height: 40px;
  color: $main-color;
  top: 15px;
}

.price__month {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #AFAFAF;
}

.price__subitem {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}

.price__link {
  display: inline-block;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  background: #02897A;
  border-radius: 8px;
  padding: 11px 19px;
  margin-top: 22px;
}

@media screen and (max-width: 520px) {

  .price__text{
  margin-bottom: 75px;
  }

.price__list{
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}


.price__item{
  width: 80%;
  margin-bottom: 32px;
}

.price__item+.price__item {
  margin-left: 0;
}
}


@media screen and (max-width: 380px) {

.price__item{
  width: 90%;
}
}