.price-section{
  padding-top: 20px;
}

.price__main-title{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #22343D;
  margin-bottom: 32px;
}

.price__title{
  display: block;
  text-align: center;
}